<!DOCTYPE html> 
<html lang="en">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>
<body>
    <h1>Comments Index</h1>
    <ul>
        <% for(let c of comments) { %>
            <li><strong><%= c.username %>:</strong> <%= c.comment %></li>  
        <% } %>
    </ul>
    <button onclick="window.location.href='/comments/new'">Make a new comment</button>
    <button onclick="window.location.href='/'">Back to Landing Page</button>
</body>
</html>

