<!DOCTYPE html> 
<html lang="en">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <section>
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" placeholder="username">
        </section>
        <section>
            <label for="comment">Enter Comment:</label>
            <textarea id="comment" name="comment" placeholder="Your comment here..." cols="30" rows="5"></textarea>
        </section>
        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location.href='/comments'">See all comments</button>
    <button onclick="window.location.href='/'">Back to Landing Page</button>
</body>
</html>
